<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificates</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Certificates</h1>
    <ul>
        {% for cert in certificates %}
        <li>
            <h3>{{ cert.title }}</h3>

            <img src="{{ cert.image }}" alt="{{ cert.title }}" ">

        </li>
        {% endfor %}
    </ul>
    <a href="/" class="back-button">Back to Home</a>
</body>
</html>
