<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Contact</h1>
    <p>Email: <a href="mailto:{{ rajesherode2004 }}">{{ contact.email }}</a></p>
    <p>Phone: {{ contact.phone }}</p>
    <h2>Social Media</h2>
    <p><a href="{{ social.linkedin }}">LinkedIn</a></p>
    <p><a href="{{ social.github }}">GitHub</a></p>

    <a href="/">Back to Home</a>
</body>
</html>
